<div class="board" id="board">
  <div class="board__cell board__cell--x"></div>
  <div class="board__cell board__cell--circle"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
</div>
<div class="winning-message">
  <div class="winning-message-text"></div>
  <button mat-raised-button color="primary">Restart</button>
</div>